<h1>Edit Info for <i><%= @user.name %></i></h1>
<br>
<%= form_for @user do |f| %>
    <% @form = f %>
    <%= render 'user' %>
<% end %>
<br><br>
<%= link_to 'Delete Account', user_path(@user), :method => :delete %>

<br><br>
<%= link_to 'Back to Account Info', user_path(@user) %>
<br><br>
<%= link_to 'Your Bookshelf', user_books_path(@user) %>
<br><br>
<%= link_to 'Logout', logout_path %>