<h1>Account Info for <i><%= @user.name %></i></h1>
<br>
<p>Name: <%= @user.name %></p>
<p>Password: not shown (click edit link below to change)</p>
<p>Created on <%= @user.date_display(@user, "created") %> at <%= @user.time_display(@user, "created")  %></p>
<p>Updated on <%= @user.date_display(@user, "updated") %> at <%= @user.time_display(@user, "updated")  %></p>
<br>
<%= link_to 'Edit', edit_user_path(@user) %>
<br><br>
<%= link_to 'Back to Bookshelf', user_books_path(@user) %>
<br><br>
<%= link_to 'Logout', logout_path %>