<h1>Account Info for <%= @user.name %></h1>
<br>
<p>Name: <%= @user.name %></p>
<p>Password: not shown (click edit link below to change)</p>
<p>Created: <%= @user.created_at %></p>
<p>Updated: <%= @user.updated_at %></p>
<br>
<%= link_to 'Edit', edit_user_path(@user) %>
<br><br>
<%= link_to 'Back to Bookshelf', user_books_path(@user) %>
<br><br>
<%= link_to 'Logout', logout_path %>