<h1>Editing <i><%= @book.title %></i></h1>
<%= render 'shared/form_errors', object: @book, object_name: "book", action: "updated" %>

<%= render 'shared/form_errors', object: @author, object_name: "author", action: "updated" %>

<%= form_for [@user, @book] do |f| %>
    <% @form = f %>
    <%= render 'book', action: "edit", book: @book %>
<% end %>
<br>
<%= link_to 'Delete Book', user_book_path(@user, @book), :method => :delete %>
<br><br>
<%= link_to 'Back to Book Info', user_book_path(@user, @book) %>
<br><br>
<%= link_to 'Back to Bookshelf', user_books_path(@user) %>