<h1>Editing <i><%= @book.title %></i></h1>
<% if @book.errors.any? %>
  <div id="error_explanation">
    <h2>
      The following <%= pluralize(@book.errors.count, "error") %> prevented your book from being updated:
    </h2>
    <ul>
    <% @book.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<%= form_for [@user, @book] do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %><br>
    <%= f.label :author %>
    <%= f.text_field :author, value: @book.author.name %><br>
    <%= f.label :pub_year %>
    <%= f.number_field :pub_year %><br>
    <%= f.label :note %> 
    <%= f.text_field :note %><br>
    <%= f.label :favorite %>
    <%= f.check_box :favorite %><br><br>
    <%= f.submit 'Save'%>
<% end %>
<br>
<%= link_to 'Delete Book', user_book_path(@user, @book), :method => :delete %>
<br><br>
<%= link_to 'Back to Book Info', user_book_path(@user, @book) %>
<br><br>
<%= link_to 'Back to Bookshelf', user_books_path(@user) %>