<h1>Editing <%= @book.title %></h1>
<%= form_for [@user, @book] do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %><br>
    <%= f.label :author %>
    <%= f.text_field :author, value: Author.find_by(id: @book.author_id).name %><br>
    <%= f.label :pub_year %>
    <%= f.number_field :pub_year %><br>
    <%= f.label :note %> 
    <%= f.text_field :note %><br>
    <%= f.label :favorite %>
    <%= f.check_box :favorite %><br></br>
    <%= f.submit 'Save'%>
<% end %>
<br>
<%= link_to 'Delete Book', user_book_path(@user, @book), data: {:confirm => 'Are you sure?'}, :method => :delete %>
<br><br>
<%= link_to 'Back to Book Info', user_book_path(@user, @book) %>
<br></br>
<%= link_to 'Back to Bookshelf', user_books_path(@user) %>