<h1>Bookshelf of <%= @user.name %></h1>
<% if @user.books.empty? %>
    <p>Your shelf is empty :(</p>
<% else %>
    <ul>
    <% @user.books.each do |b| %>
        <li><%= link_to "#{b.title}", user_book_path(@user, b) %> by <%= b.author.name%> <% if b.favorite%>&#9734;<%end%> <% if b.note != "" %>&#9993;<%end%></li> 
        <% end %>
    </ul>
<% end %>
<br>
<%= link_to 'Add a book', new_user_book_path(@user) %>
<br><br>
<%= link_to 'Account Info', user_path(@user) %>
<br><br>
<%= link_to 'Logout', logout_path %>
<br><br>
<p>&#9734; = <i>this book is a favorite</i></p>
<p>&#9993; = <i>this book has a note</i></p>
