<h1><%= @book.title %></h1>
<ul>
    <li>Author: <%= Author.find(@book.author_id).name %></li>
    <li>Publication Year: <%= @book.pub_year %></li>
    <% if @book.note != "" %>
        <li>&#9993; <%= @book.note %></li>
    <% end %>
    <% if @book.favorite %>
        <li>&#9734; favorite</li>
    <% end %>
</ul>
<br>
<%= link_to 'Edit', edit_book_path(@book) %>
<br></br>
<%= link_to 'Back to Bookshelf', shelf_path %>
<br></br>
<%= link_to 'Logout', logout_path %>