<h1>Viewing <i><%= @book.title %></i></h1>
    <p>Title: <%= @book.title %></p>
    <p>Author: <%= @book.author.name %></p>
    <% if !@book.pub_year.nil? %>
    <p>Publication Year: <%= @book.pub_year %></p>
    <% end %>
    <% if @book.note != "" %>
        <p>&#9993; : <%= @book.note %></p>
    <% end %>
    <% if @book.favorite %>
        <p>&#9734; : this book is a favorite</p>
    <% end %>
    <p>Created on <%= @book.date_display(@book, "created") %> at <%= @book.time_display(@book, "created")  %></p>
    <p>Updated on <%= @book.date_display(@book, "updated") %> at <%= @book.time_display(@book, "updated")  %></p>
<br>
<%= link_to 'Edit', edit_user_book_path(@user, @book) %>
<br><br>
<%= link_to 'Back to Bookshelf', user_books_path(@user) %>
<br><br>
<%= link_to 'Logout', logout_path %>