<h1><%= @book.title %></h1>
<ul>
    <li>Author: <%= Author.find(@book.author_id).name %></li>
    <li>Publication Year: <%= @book.pub_year %></li>
    <% if !@book.note.empty? %>
        <li>Note: <%= @book.note %></li>
    <% end %>
    <% if @book.favorite %>
        <li>This is a favorite.</li>
    <% end %>
</ul>
<br>
<%= link_to 'Back to Bookshelf', user_path(@user) %>
<br></br>
<%= link_to 'Logout', logout_path %>