<h1><%= @book.title %></h1>
<ul>
    <li>Author: <%= Author.find(@book.author_id).name %></li>
    <% if !@book.pub_year.nil? %>
    <li>Publication Year: <%= @book.pub_year %></li>
    <% end %>
    <% if @book.note != "" %>
        <li>&#9993; <%= @book.note %></li>
    <% end %>
    <% if @book.favorite %>
        <li>&#9734; favorite</li>
    <% end %>
</ul>
<br>
<%= link_to 'Edit', edit_user_book_path(@user, @book) %>
<br></br>
<%= link_to 'Back to Bookshelf', user_books_path(@user) %>
<br></br>
<%= link_to 'Logout', logout_path %>